<%- include('../partials/header') %>

<nav>
  <a href="/cultures/new">Add Culture</a>
</nav>
<% cultures.forEach(function(c) { %>
  <a href="/cultures/<%= c._id %>">
    <div id="c-img">
      <img id="image" src="<%= c.image %>">
      <p id="text"><%= c.name %></p>
    </div>
  </a>
<% }); %>

<%- include('../partials/footer') %>