<%- include('../partials/header') %>

<nav>
  <a href="/cultures/new">Add Culture</a>
</nav>
<% cultures.forEach(function(c) { %>
  <a href="/cultures/<%= c._id %>">
    <div>
      <%= c.name %>
      <img src="<%= c.image %>">
    </div>
  </a>
<% }); %>

<%- include('../partials/footer') %>