<%- include('../partials/header') %>

<nav>
  <a href="/cultures/<%= culture._id %>/recipes/new">Add Recipe</a>
</nav>
<section id="show-page">
    <div>Culture: </div>
    <div><%= culture.name %></div>
</section>
   <div class="wrapper-grid">
    <% culture.recipes.forEach(function(r) { %>
        <a href="/recipes/<%= r._id %>">
          <div class="container">
            <h1><%= r.name %></h1>
            <img class="image" src="<%= r.image %>">
          </div>
        </a>
      <% }); %>
   </div>

<%- include('../partials/footer') %> 