<%- include('../partials/header') %>

<section class="show-recipes">
    <div>Recipes: </div>
    <div><%= recipe.name %></div>
    <div>Image: </div>
    <img src="<%= recipe.image %>">
    <div>Description: </div>
    <div><%= recipe.description %></div>
    <div>Ingredients: </div>
    <div><% recipe.ingredients %></div>
    <div>Directions: </div>
    <div><%= recipe.directions %></div>
</section>
  

<%- include('../partials/footer') %>