<%- include('../partials/header') %>

<section class="show-recipes">
    <div></div>
    <div id="r-title"><%= recipe.name %></div>
    <div></div>
    <img id="rec-img" src="<%= recipe.image %>">
    <div class="left">Description: </div>
    <div class="left"><%= recipe.description %></div>
    <div class="right">Ingredients: </div>
    <div class="right"><%= recipe.ingredients %></div>
    <div class="bottom">Directions: </div>
    <div class="bottom"><%= recipe.directions %></div>
</section>
  
<form action="/recipes/<%= recipe._id %>/comments" method="POST">
    <input type="text" name="content">
    <button type="submit">Add Comment</button>
</form>

<% recipe.comments.forEach(function(comment) { %>
    <div class="comment">
      <%= comment.content %><br>
      <% if (comment.user.equals(user._id)) { %>
        <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
          <input name="content" value="<%= comment.content %>">
          <button type="submit">Update Comment</button>
        </form>
      <% } %>
    </div>
  <% }) %>

<%- include('../partials/footer') %>